<div class="signup-form m-auto pt-5">	
    <form *ngIf="!isSuccessful"
	name="form"
	(ngSubmit)="f.form.valid && onSubmit()"
	#f="ngForm"
	novalidate>
		<h2 class="pt-2">Create Account</h2>
		<p class="lead">It's free and hardly takes more than 30 seconds.</p>
        <div class="form-group">
			<div class="input-group">
				<input  type="text"
				class="form-control"
				name="username"
				[(ngModel)]="form.username"
				required
				minlength="3"
				maxlength="20"
				#username="ngModel"
				placeholder="Your Username">
			</div>
			<div class="alert-danger" *ngIf="f.submitted && username.invalid">
				<div *ngIf="username.errors.required">Username is required</div>
				<div *ngIf="username.errors.minlength">
				  Username must be at least 3 characters
				</div>
				<div *ngIf="username.errors.maxlength">
				  Username must be at most 20 characters
				</div>
			  </div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<input  type="email"
				class="form-control"
				name="email"
				[(ngModel)]="form.email"
				required
				email
				#email="ngModel"
				placeholder="Your Email">
			</div>
			<div class="alert-danger" *ngIf="f.submitted && email.invalid">
				<div *ngIf="email.errors.required">Email is required</div>
				<div *ngIf="email.errors.email">
				  Email must be a valid email address
				</div>
			  </div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<input type="password"
				class="form-control"
				name="password"
				[(ngModel)]="form.password"
				required
				minlength="6"
				#password="ngModel"
				placeholder="Your Password">
			</div>
			<div class="alert-danger" *ngIf="f.submitted && password.invalid">
				<div *ngIf="password.errors.required">Password is required</div>
				<div *ngIf="password.errors.minlength">
				  Password must be at least 6 characters
				</div>
			  </div>
        </div>
		 
		<div class="form-group">
            <button type="submit" class="btn btn-info btn-block btn-lg">Sign Up</button>
        </div>
		<p class="small text-center">By clicking the Sign Up button, you agree to our <br><a href="#">Terms &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p>
		<div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
			Signup failed!<br />{{ errorMessage }}
		  </div>
    </form>
	<div class="text-center">Already have an account? <a routerLink="/login">Login here</a>.</div>
</div>
