.sidenav {  
    width: 300px; 
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-left:50px;
  }
  .sidenav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 450;
    color: #0a0101;
  }
  .side{
    margin-left:4px;
    margin-top:5px;
  }
  #product{
      margin-bottom:30px;
      padding-top:30px;
  }
 img{
     width:400px;
 }
 .test{
width: 300px;
}