<div class="d-inline-flex">
    <div class="sidenav">
        <h3 id="product">About</h3>
        <a routerLink="/about">Our story</a>
        <hr class="side">
        <a routerLink="/contact-us">Contact us</a>
        <hr class="side">
      </div>
      <div class="container">
        <div class="d-flex p-2 bd-highlight pt-3">
          <img src="https://i.pinimg.com/originals/f8/56/5b/f8565b3b5d11dd3ea784b18a343ea3c0.jpg" alt="">
          <div class="text m-auto pl-3">
            <h3>The Special's One</h3>
            <p class="test">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit molestias placeat expedita voluptatem. Assumenda, amet dignissimos animi repellat deserunt excepturi sunt natus, eligendi ex maiores id impedit iusto minus ipsa.lorem</p>
            <p class="test">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit molestias placeat expedita voluptatem. Assumenda, amet dignissimos animi repellat deserunt excepturi sunt natus, eligendi ex maiores id impedit iusto minus ipsa.lorem</p>
          </div>
        </div> 
    </div>    
</div>