<div class="d-inline-flex contact-container">
    <div class="container">
        <h3>Contact</h3>
        <div class="d-inline-flex">
            <div class="name">
                <label for="name">Name</label>
                <br>
                <input type="text" id="name">
            </div>
            <div class="email">
                <label for="email">Email</label>
            <br>
            <input type="text" id="email">
            </div>
        </div>
       <br>
        <label for="subject">Subject matter</label>
        <br>
        <input type="text" id="subject">
        <br>
        <label for="message">Message</label>
        <br>
        <textarea id="message"></textarea>
        <br>
        <button class="btn btn-info">submit</button>
    </div>
    <div class="contact">
        <div class="d-inline-flex">
            <h6>phone : </h6>
            <p> 081224422</p>
        </div>
        <div class="d-inline-flex">
            <h6>E-mail: </h6>
            <p> blablabal@gmail.com</p>
        </div>
       
            <h6>store address: </h6>
            <p> apajalah dimanajalah</p>
        
        
            <h6>Opening hours :</h6>
            <p> monday to friday,from 8:30 am to 12.00 pm</p>
        

        
    </div>
    
    
</div>
