<!-- Footer -->
<div class="foot">
    <footer class="page-footer font-small blue pt-4 bg-light">
        <div class="container-fluid text-center text-md-left pl-5">
      
          <!-- Grid row -->
          <div class="row pl-5">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3 pl-5 test">
      
              <!-- Content -->
              <h5 class="text-uppercase pl-5">The Special One</h5>
              <p class="pl-5 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sit sed nostrum saepe corrupti temporibus cumque, accusamus rem numquam aliquid unde! Suscipit, dignissimos accusamus voluptas maiores sint alias incidunt similique./p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3 pl-5">
      
              <!-- Links -->
              <h5 class="text-uppercase">More Information</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Where to buy</a>
                </li>
                <li>
                  <a href="#!">Quaility</a>
                </li>
                <li>
                  <a href="#!">Returns</a>
                </li>
                <li>
                  <a href="#!">updates</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3 pl-5">
      
              <!-- Links -->
              <h5 class="text-uppercase">Find Us</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Facebook</a>
                </li>
                <li>
                  <a href="#!">Instagram</a>
                </li>
                <li>
                  <a href="#!">Whatsapp</a>
                </li>
                <li>
                  <a href="#!">Youtube</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 pl-3">© 2020 Copyright:
          <a href="https://mdbootstrap.com/">TheSpecialOne.com</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->

</div>
   
